//palette by Lowdy
$primary-color: #F7FFD8;
$secondary-color: #FFDC40;
$third-color: #10AEA6;
$fourth-color: #000000;

// //palette 1
// $primary-color: #A0D995;
// $secondary-color: #F6E3C5;
// $third-color: #6CC4A1;
// $fourth-color: #4CACBC;

//palette 2
$primary-color: #FFEF82;
$secondary-color: #EFD345;
$third-color: #82954B;
$fourth-color: #BABD42;

//palette 3
$primary-color: #FBEED7;
$secondary-color: #FFBA5A;
$third-color: #665C84;
$fourth-color: #FF7657;




$show-home-image: true;
$home-image: url("../_images/_unoptimized/signal-2023-04-30-194652_005\ \(1\).jpeg");
$background-opacity: 0.5
;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($secondary-color, $background-opacity)
      }


    }
  }
}
//set text color
@function set-text-color($color) {
  @if (lightness($color)> 40) {
    @return $third-color;
  }@else{
    @return $primary-color;
  }
}
// media queries 

@mixin mediaSm {
  @media screen and(max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and(min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and(min-width: 1171px) {
    @content;
  }
}