@import "config";
@import "menu";


@mixin easeOut {
    transition: all 0.5s ease-out;
}

// html {font-size: 10px;}

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $secondary-color;
    color: set-text-color($secondary-color);
    height: 100%;
    margin: 0;

    font-family: Corben;
    height: 1.5;

}

// Headings 
h1,
h2,
h3 {
    // margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;

        background: rgba(lighten($secondary-color, 2), 0.5);
    }


}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}



.text-secondary {
    color: $primary-color;
}

main {
    padding: 1rem;
    height: 100%;
    min-height: calc(100vh - 30px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0,5rem;

            &:hover {
                color: $third-color;
                @include easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}
//contacts
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 1vh;
    .contact-item-p {        margin-bottom: 3rem;
        padding: 1.5rem 2.5rem;
    border:none;
    &:hover {
        padding: 0.5rem 1.5rem;  
        background: $secondary-color;
        img {border: $fourth-color 3px solid; @include easeOut}
        
        color: set-text-color($fourth-color);
        
      }}
    a { color: $third-color;}
      div {
        font-size: 1rem;
        border: 3px $fourth-color solid;
        margin-bottom: 3rem;
        padding: 1.5rem 2.5rem;
        @include easeOut;

        &:hover {
        //   padding: 0.5rem 1.5rem;  
        //   background: $primary-color;
        //   color: set-text-color($fourth-color);
          
        //   span{
        //     color: set-text-color($fourth-color);
        transition: all 0.3s ease-in-out;
        transform: perspective(1000px) rotateY(-10deg);
        box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
          }
        //}


    }
}

// products 
.products {
    display: grid;
    grid-template-areas:
    'productimage productimage productimage' ;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1f);


    img {
        width: 100%;
        border: 4px $primary-color solid;

        &:hover {
            //opacity: 0.5;
            border-color: $third-color;
            @include easeOut;
            transform: translateY(-20px);
            
            transition: all 0.3s ease-in-out;
            transform: perspective(1000px) rotateY(-10deg);
            box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
        }


    }
    .productimage {
        grid-area: productimage;
        &:hover {
            background-size: 109%;
        }
    }
}

#main-footer {
    text-align: center;
    padding: 0,3rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 30px;
    font-size: 0.6rem;

    a {
        color: $third-color;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }

}

//
.about-info {
    display: grid;
    grid-template-areas:
        'bioimage bio bio';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 4px solid;
}

.bio {
    grid-area: bio;
    font-size: 1rem;


    background: lighten($secondary-color, $amount: 5);
    padding: 1rem;
    border-bottom: $third-color 5px solid;
    p {
        margin-bottom: 3rem;
    
    }

}

@import "mobile";